.computers {
    display: flex;
}

.computer {
    margin-left: 20px;
}

.computer-header {
    display: flex;
    justify-content: space-between;
}

.computer-header .title {
    margin-bottom: 5px !important;
    margin-left: 20px;
    display: flex;
}

.computer-wrapper {
    margin-top: 10px !important;
}
