.computers {
    display: flex;
}

.computer {
    margin-left: 20px;
}

.computer-header {
    margin-block-end: 0;
}

.computer-wrapper {
    margin-top: 10px !important;
}

.remove {
    color:red;
    cursor: pointer;
}